<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Lifted Logic</title>
</head>
<body>
    <h1>h1</h1>
    <span class="headerHeroText">hello this is header text</span>

    <h2>h2</h2>
    <span class="headerText">hello this is header text</span>

    <h3>h3</h3>
    <span class="headerTwoText">hello this is header text</span>

    <h4>h4</h4>
    <span class="headerThreeText">hello this is header text</span>
</body>
</html>