<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Lifted Logic</title>
</head>
<body>
    <main>
    <div class="buttonText navbar">
        <img style=" padding-right: 5rem; padding-top: 1rem;"src="logo/PNGS/SRrecordings.png" alt="Site Logo">
        <a href="#"><img src="Icons/PNGs/Home.png"> Home</a>
        <a href="#"><img src="Icons/PNGs/Records.png"> Records</a>
        <a href="#"><img src="Icons/PNGs/Music.png"> Music</a>
        <a href="#"><img src="Icons/PNGs/Artists.png"> Artists</a>
        <a href="#"><img src="Icons/PNGs/Concerts.png"> Concerts</a>
        <button class="buttonText navButton">Sign Up</button>
    </div>
    <div id="animBackground">
        <div style="padding-bottom: 12rem; padding-top: 15rem; color: white;" class="container">
            <div class="headerHeroText">A.M. Paradox</div>
            <div style="color: white; max-width: 28rem;" class="bodyText">Lorem ipsum 
                dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Arcu vitae elementum curabitur vitae nunc sed 
                velit dignissim. A pellentesque sit amet porttitor eget 
                dolor morbi non.
            </div> 
            <button style="background-color:transparent;padding-top: 
            1rem; padding-left: 0;color: white;" class="buttonText">
            <img src="Icons/PNGs/Play_button.png"> Watch Video
            </button>
        </div>
    </div>
    <div style=" background-color: white;">
        <div class="container">
            <img style="float: left;"src="Images/image2.png" alt="Image of a person">
            <span style="float: left;"class="sectionTwo">
                <div class="sectionTwoHeader headerText">Brent Faiyaz, So Far Gone</div>
                <div style="margin-top: 1rem; "class="sectionTwoContent bodyText">Faiyaz began uploading his music onto SoundCloud in 2014
                    and moved from his hometown Columbia, Maryland to Charlotte, North Carolina
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div><button style="margin-top: 2rem;" class="buttonText navButton">Learn More</button></div>
            </span>
        </div>
        
    </div>

    <div style="clear: both; background-color: #F6F6F6;">
        <div class="container sectionThree">
            <div class="headerText">New Releases</div>
            <div class="sectionThreeContent bodyText">Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna 
                aliqua. Arcu vitae elementum curabitur vitae 
                nunc sed velit dignissim. A pellentesque sit 
                amet porttitor eget dolor morbi non.
            </div>
        </div>
    </div>
        
    
    </main>
   
<style>:root{
    --darkBlue: #001D5D;
    --lightBluse: #B8BFCF;
    --darkGreen: #68C242;
    --lightGreen: #D9F0D0;
    --black: #000;
    --white: #fff;
    --gray: #525252;
    --lightGray: #F6F6F6;
}</style>
</body>
</html>