<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Lifted Logic</title>
</head>
<body>
    <header class="header" id="myHeader">
        <div class="container buttonText">
            <img style=" padding-right: 5rem; padding-top: 1rem;"src="logo/PNGS/SRrecordings.png" alt="Site Logo">
            <a href="#"><img src="Icons/PNGs/Home.png"> Home</a>
            <a href="#"><img src="Icons/PNGs/Records.png"> Records</a>
            <a href="#"><img src="Icons/PNGs/Music.png"> Music</a>
            <a href="#"><img src="Icons/PNGs/Artists.png"> Artists</a>
            <a href="#"><img src="Icons/PNGs/Concerts.png"> Concerts</a>
            <button class="buttonText">Sign Up</button>
        </div>
    </header>
    <main>

    </main>
        
   
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>
    <h1>1</h1>

</body>
</html>