/* color var */
:root{
    --darkBlue: #001D5D;
    --lightBluse: #B8BFCF;
    --darkGreen: #68C242;
    --lightGreen: #D9F0D0;
    --black: #000;
    --white: #fff;
    --gray: #525252;
    --lightGray: #F6F6F6;
}
body{
    margin: 0;
}
html{
    font-family: 'Karla', sans-serif;
}

.container{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
div{
    width: auto;
}
/* Style the header */
.navbar {
    right: 0;
    left: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 10px;
    position: fixed;
    overflow: hidden;
    width: auto;
    background: var(--white);
    color: var(--darkBlue);
    top: 0;
    width: auto;
  }
.navbar a{
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    text-decoration: none;
    color: var(--darkBlue);
}
  /* buttons */
button{
    border: none;
    padding: .5rem 3rem;
}
.navButton{
    border: none;
    padding: .5rem 3rem;
    background-color: var(--lightGreen);
    color: var(--darkGreen);
}
.navButton:hover{
    background-color: var(--darkGreen);
    color: var(--white);
}
.buttonText{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
}
.bodyText{
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color:var(--darkBlue);
}


/* Header text */
.headerHeroText{
    font-weight: bold;
    font-size: 65px;
    letter-spacing: .73px;
    line-height: 76px;
}
.headerText{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 50px;
    color: var(--darkBlue);
}
.headerTwoText{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 40px;
    color: var(--darkBlue);
}
.headerThreeText{
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 25px;
    color: var(--darkBlue);
}

/* section two */
.sectionTwo{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.sectionTwoHeader{
    max-width: 20rem;
    color: var(--darkBlue)
}
.sectionTwoContent{
    max-width: 40rem;
    color: var(--darkBlue)
}

@media screen and (max-width:1561px){
    .sectionTwo{
        text-align: center;
        max-width: auto;
        width: auto;
        padding-left: 0;
    }
    .sectionTwoHeader{
        text-align: center;
        max-width: 600px;
    }
}

/* section three */
.sectionThree{
    text-align: center;
    justify-content: center;

}
.sectionThreeContent{
    text-align: center;
    max-width: 25rem;
    
}
.inputs input,
.inputs textarea{
    padding: 1rem 0 ;
    background-color:var(--lightGray);
    border: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
    color: var(--darkBlue);
    padding-left: .5rem;
    font-family: 'Karla', sans-serif;
    width: 13.3rem;
}
.inputs textarea{
    width: 28.2rem;
}
.inputs input::placeholder,
.inputs textarea::placeholder{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
    color: var(--darkBlue);
    padding-left: .5rem;
    font-family: 'Karla', sans-serif;
}

/* dropdown */
.messageButton{
    padding-left: 1rem;
    text-align: left;
    max-width: 20rem;
    height: 3.23rem;
    font-family: 'Karla', sans-serif;
    color: var(--darkBlue);
    background-color:var(--lightGray);
    cursor: pointer;

}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }

footer{
    clear: both;
    background-color: var(--darkBlue);
    color: var(--white);
}
.tableLinks a{
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: var(--lightGray);
}
.tableLinks td{
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}
.tableLinks tr th{
    padding-bottom: 1.5rem;
  }
.icons span{
    padding-left: .5rem;
    padding-right: .5rem;
}
.links a{
    text-decoration: none; 
    color: white;
}

/* animations */
#animBackground {
    margin-top: 5rem;
    width: auto;
    border: 1px solid black;
    background-image: url('../Images/image1.png');
    background-position: top left;
    animation: mymove 10s infinite;
  }
  
  @keyframes mymove {
    50% {background-position: center;}
  }