/* color var */
:root{
    --darkBlue: #001D5D;
    --lightBluse: #B8BFCF;
    --darkGreen: #68C242;
    --lightGreen: #D9F0D0;
    --black: #000;
    --white: #fff;
    --gray: #525252;
    --lightGray: #F6F6F6;
}
body{
    margin: 0;
}
html{
    font-family: 'Karla', sans-serif;
}

.container{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
div{
    width: auto;
}
/* Style the header */
.navbar {
    right: 0;
    left: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 10px;
    position: fixed;
    overflow: hidden;
    width: auto;
    background: var(--white);
    color: var(--darkBlue);
    top: 0;
    width: auto;
  }
.navbar a{
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    text-decoration: none;
    color: var(--darkBlue);
}
  /* buttons */
button{
    border: none;
    padding: .5rem 3rem;
}
.navButton{
    border: none;
    padding: .5rem 3rem;
    background-color: var(--lightGreen);
    color: var(--darkGreen);
}
.navButton:hover{
    background-color: var(--darkGreen);
    color: var(--white);
}
.buttonText{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 18px;
}
.bodyText{
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
}


/* Header text */
.headerHeroText{
    font-weight: bold;
    font-size: 65px;
    letter-spacing: .73px;
    line-height: 76px;
}
.headerText{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 50px;
}
.headerTwoText{
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 40px;
}
.headerThreeText{
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 25px;
}
    


/* animations */
#animBackground {
    margin-top: 5rem;
    width: auto;
    border: 1px solid black;
    background-image: url('../Images/image1.png');
    background-position: top left;
    animation: mymove 10s infinite;
  }
  
  @keyframes mymove {
    50% {background-position: center;}
  }